
hr {
  border-style: none;
  border-color: black;
  border-width: 5px;
  width: 5%;
}

#resume {
  margin-left: 10px;
}


.CS {
  color: red;
}

.skills {
  font-size: 22px;
}
.intro {
  font-size: 22px;
}

.arduino {
  height: 20%;
  width: 20%;
}